<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amrinder Gill</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    
    <%- include('header') %>

    <div class="container">
        <h1>Amrinder Gill</h1>
        <img src="https://i.pinimg.com/736x/28/b2/8c/28b28cf388a4532bfcdc07fd55bc6395.jpg" alt="Amrinder Gill" class="img-fluid">
        <p>Amrinder Gill is a Punjabi singer, actor, and film producer known for his melodious voice and romantic songs. He made his debut in the Punjabi music industry with the album "Apni Jaan Ke" and has since released numerous hit songs and albums.</p>
    </div>

    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
