<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guru Randhawa</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <%- include('header') %>

    <div class="container">
        <h1>Guru Randhawa</h1>
        <img src="https://www.koimoi.com/wp-content/new-galleries/2023/07/guru-randhawa-spotted-atop-cn-tower-in-canada-for-his-next-project-01.jpg" alt="Guru Randhawa" class="img-fluid">
        <p>Guru Randhawa is an Indian singer, songwriter, and music composer known for his Punjabi and Hindi songs. He gained popularity with tracks like "High Rated Gabru", "Lahore", and "Suit Suit". His fusion of Punjabi and modern music styles has garnered him a large fan following.</p>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
