
<header>
    <nav style="display: inline;">
        <a href="/">Home</a> | 
        <a href="/diljit_dosanjh">Diljit Dosanjh</a> | 
        <a href="/sidhu_moosewala">Sidhu Moosewala</a> | 
        <a href="/amrinder_gill">Amrinder Gill</a> | 
        <a href="/guru_randhawa">Guru Randhawa</a>
    </nav>
</header>
