<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidhu Moosewala</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>
   
    <%- include('header') %>

    <div class="container">
        <h1>Sidhu Moosewala</h1>
        <img src="https://static-ai.asianetnews.com/images/01g4803qwyvskax7q8n65c3ypn/moose_1200x900xt.jpg" alt="Sidhu Moosewala" class="img-fluid">
        <p>Sidhu Moosewala is a Punjabi singer, lyricist, and actor known for his unique style and powerful lyrics. He rose to fame with his debut album "PBX1" and has since become one of the leading figures in the Punjabi music industry.</p>
    </div>

    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
